.availability_cont{
    width: fit-content;
    margin: auto;
}

.day_availability{
    display: flex;
    margin-bottom: 10px;
}
.day{
    margin-top: auto;
    margin-bottom: auto;
}
.availability_display{
    display: flex;
    margin-left: auto;
}
.availability_time{
    height: fit-content;
    font-size: 1.5em;
    font-weight: 600;
    font-family: "Quattrocento", serif;
    margin-top: auto;
    margin-bottom: auto;
}
.dash{
   text-align: center;
   font-size: 3em;
   margin: 5px;
}
